body{
	background-color:rgb(154, 226, 154);
}
.ip{
	height: 30px;
	width: 30px;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

#row{
	display: flex;
}

#mainboard{
	display: flex;
	flex-direction: column;
	align-items: center;
}

